@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #008080;
  --color-primary2: #6dc3bb;
  --color-secondary: #ffb84c;
  --color-light: #ffffff;
  --color-dark: #2b2d42;
}
